<!DOCTYPE html>
html(lang="en")
    head
        include includes/head.pug
    body
        include includes/languageBox.pug        
        include mixins/header.pug
        +header(user)
        div.content
            div.container
                if isAdmin
                    p Привет админ!
                else
                    p У вас недостаточно прав!

        include includes/footer.pug
        include includes/scripts.pug
        script(src="/js/index.js")
        script(src="/js/logout.js")