<!DOCTYPE html>
html(lang="ru")
    head
        include includes/head.pug
    body
        include includes/header.pug
        section.content
            div.container
                p Вы успешно авторизованы!

        include includes/footer.pug        
        script(src="/libs/jquery/dist/jquery.min.js")
        script(src="/libs/bootstrap/dist/js/bootstrap.min.js")