<!DOCTYPE html>
html(lang="ru")
    head
        include includes/head.pug
    body
        include includes/languageBox.pug        
        include mixins/header.pug
        +header(user)
        section.content
            div.container
                p Главная страница
        include includes/footer.pug
        include includes/scripts.pug
        script(src="/js/index.js")
        script(src="/js/logout.js")