<!DOCTYPE html>
html(lang="ru")
    head
        include includes/head.pug
    body#signin
        include includes/languageBox.pug     
        include mixins/header.pug
        +header(user)
        section.content
            form(class="auth-form" id="signin-form")
                h1(class="h3 mb-3 font-weight-normal") Вход
                
                div.input-container
                    label(for="inputEmail" class="sr-only") Email address
                    input(type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus)
                    span(class="validation-error email-status text-danger")

                div.input-container
                    label(for="inputPassword" class="sr-only") Password
                    input(type="password" name="pass" id="inputPassword" class="form-control" placeholder="Пароль" required)
                    span(class="validation-error password-status text-danger")

                div(class="checkbox mb-3")
                    label
                        input(type="checkbox" value="remember-me") 
                        | Запомнить меня

                button(class="btn btn-lg btn-primary btn-block" type="submit") Войти
                p(class="mt-5 mb-3 text-muted") &copy; 2018
        include includes/footer.pug 
        include includes/scripts
        script(src="/js/index.js")
        script(src="/js/signin.js")
        