html,
body {
  height: 100%;
}

body {
  background-color: #f5f5f5;
  position: relative;
}

.auth-form {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.auth-form .checkbox {
  font-weight: 400;
}

.auth-form .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.auth-form .form-control:focus {
  z-index: 2;
}

.auth-form input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

#signup input[type="email"] {
  border-radius: 0;
  margin-bottom: -1px;
}

#signin input[type="email"] {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  margin-bottom: -1px;
}

.auth-form input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Error page */

#error {
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-container {
  text-align: center;
}

.error-status {
  font-size: 6rem;
  font-weight: bold;
  color: #fff;
  line-height: 1;
  /* margin-bottom: 20px; */
}

.error-message {
  color: #fff;
  font-size: 1.1rem;
  margin-bottom: 70px;
}

.error-back {
  padding: 10px 40px;
  color: #333;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  outline: none;
  transition: all .1s linear
}

.error-back:hover {
  background-color: #007bff;
  color: #fff;
}

/* Error page */

/* Index page */

.header {
  margin-bottom: 40px;
}

.logo {
  font-size: 1.2rem;
}

.footer {
  color: #fff;
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
}

.footer p {
  margin-bottom: 0;
}

.username {
  margin-right: 10px;
}

.input-container {
  position: relative;
}

.validation-error {
  position: absolute;
  z-index: 4;
  right: 0;
  top: 50%;
  transform: translate(100%, -50%);
  font-weight: bold;
  margin-right: -20px;
}

.logout {
  display: inline-block;
}

/* Index page */