mixin header(user)
    header(class="header bg-white border-bottom box-shadow p-3 w-100")
        div(class="container d-flex flex-column flex-md-row justify-content-between align-items-center")
            div.logo
                strong Express app 
            nav
                a(class="p-2 text-dark" href="/") Главная
                a(class="p-2 text-dark" href="#") Чат
                a(class="p-2 text-dark" href="#") Комментарии
                a(class="p-2 text-dark" href="/admin") Админ панель
            div
                if user
                    span.username Привет, 
                        a(href="#") #{user.name}
                    form(class="logout")
                        input(type="submit" value="Выйти" class="btn btn-outline-primary m-1")
                else
                    a(class="btn btn-outline-primary m-1" href="/signin") Вход
                    a(class="btn btn-outline-primary m-1" href="/signup") Регистрация